<a href="https://colab.research.google.com/github/ChihyunAhn0309/Introduction_to_Database/blob/main/SQL_assignment1/CS360_sql_assignment_1of3_20210356_ChihyunAhn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**NOTE: Distributing or uploading this course material to a public repository (e.g., GitHub) is strictly prohibited.**

## **Database Creation**

We want to implement an OpenCourseWare service using SQLite3. For this purpose, we will create the following four tables:

-  `"kmooc_instructor"` - instructor information
-  `"kmooc_course"` - course information
-  `"kmooc_learningpath"` - learning path (or curriculum) information
-  `"kmooc_learningpath_courses"` - mapping between courses to learning paths

The given 'create_database_proj1.sql' file contains the definition of the schema and a sample set of the tuples. You can download it from [here](https://drive.google.com/file/d/14CQij12d4CHjlnkS-bGTkTBTOyfc0I3l/view?usp=sharing).

Please see the file for detailed schema.

We will implement several core modules of the service.

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
import sqlite3

conn = sqlite3.connect('kmooc.sqlite3')
cur = conn.cursor()


# Enter your solution here
# Execute the SQL statements in 'create_database_proj1.sql'.
# First, upload the file on your Google Drive folder.
# If you placed this file in the 'MyDrive' folder, its path is '/content/drive/MyDrive/create_database_proj1.sql'.
proj1_sql_path = '/content/drive/MyDrive/create_database_proj1.sql'

with open(proj1_sql_path, 'r', encoding = 'utf-8') as f:
  proj1_sql_script = f.read()

cur.executescript(proj1_sql_script)

conn.commit()
conn.close()

## **Module 1**

We need to extract the top 10 highest rated courses from this database.

Create a query that will join the tables `"kmooc_course"` and `"kmooc_instructor"` (LEFT JOIN) and extract the top 10 courses (*rating* column of the `"kmooc_course"` table).

Display the following columns in the output table:

- *title* (`"kmooc_course"` table)
- *rating* (`"kmooc_course"` table)
- *instructor* - concatenation of the *first_name* and *last_name* columns with a space character (`"kmooc_instructor"` table)

Sort the output table in the descending order of the *rating* column.

Note that the third column is made by concatenating the *first_name* and *last_name* columns.

**Format**:
>```('course_title', course_rating, 'first_name last_name')```<br>
>...

Print the result using the code cell below.

In [63]:
import sqlite3

conn = sqlite3.connect('kmooc.sqlite3')
cur = conn.cursor()


# Enter your solution here
# Your result should be in the form of the below print output
# Delete the below print after your enter your solution

query = """
SELECT title, rating, first_name||' '||last_name AS instructor

FROM "kmooc_course"
LEFT JOIN kmooc_instructor
  ON kmooc_course.instructor_id = kmooc_instructor.id

ORDER BY rating DESC

LIMIT 10;
"""

cur.execute(query)
result = cur.fetchall()

for row in result:
  print(row)

conn.commit()
conn.close()

('SQL Bootcamp - SQLite Databases - Part IV', 5.0, 'James Smith')
('100+ Exercises - Advanced Python Programming', 5.0, 'James Smith')
('150+ Exercises - Data Structures in Python - Hands-On', 5.0, 'James Smith')
('150+ Exercises - Object Oriented Programming in C++ - OOP', 5.0, 'Mary Brown')
('Accessing Databases using Python', 5.0, 'Rav Ahuja')
('150+ Exercises - Object Oriented Programming in Python - OOP', 4.92, 'James Smith')
('Machine Learning Bootcamp in Python Part II - from A to Z', 4.89, 'James Smith')
('250+ Exercises - Data Science Bootcamp in Python', 4.89, 'James Smith')
('Artificial Intelligence - Computer Vision in Python', 4.87, 'James Smith')
('Machine Learning Bootcamp in Python Part III - Exercises', 4.87, 'James Smith')

## **Module 2**

We need to extract all the names of the learning paths with the names of the courses included in the path and the subcategory of each component course (see below).

Display the following columns in the output table:

- *title* column from `"kmooc_learningpath"` table, aliased as `"path_title"`
- *title* column from `"kmooc_course"` table, aliased as `"course_title"`
- *subcategory* column from the `"kmooc_course"` table

Sort the output table in the ascending order of the *path_title* and *course_title* columns. Limit the result to the first 10 records.

**Format**:
>```('path_title', 'course_title', 'course_subcategory')```<br>
>...

Print the result using the code cell below.

In [43]:
import sqlite3

conn = sqlite3.connect('kmooc.sqlite3')
cur = conn.cursor()

# Enter your solution here
# Your result should be in the form of the below print output
# Delete the below print after your enter your solution
query = """
SELECT kmooc_learningpath.title AS path_title, kmooc_course.title AS course_title, subcategory

FROM kmooc_learningpath_courses
JOIN kmooc_learningpath
  ON kmooc_learningpath_courses.learningpath_id = kmooc_learningpath.id
JOIN kmooc_course
  ON kmooc_learningpath_courses.course_id = kmooc_course.id

ORDER BY path_title ASC, course_title ASC

LIMIT 10;
"""

result = cur.execute(query)
for row in result:
  print(row)


conn.commit()
conn.close()

('Databases and SQL for Data Science with Python', 'Accessing Databases using Python', 'database design & development')
('Databases and SQL for Data Science with Python', 'Getting Started with SQL', 'database design & development')
('Databases and SQL for Data Science with Python', 'Intermediate SQL', 'database design & development')
('Databases and SQL for Data Science with Python', 'Introduction to Relational Databases and Tables', 'database design & development')
('Databases and SQL for Data Science with Python', 'SQL Bootcamp - Hands-On Exercises - SQLite - Part I', 'database design & development')
('Databases and SQL for Data Science with Python', 'SQL Bootcamp - Hands-On Exercises - SQLite - Part II', 'database design & development')
('Path All-in-One', '100+ Exercises - Advanced Python Programming', 'programming languages')
('Path All-in-One', '120+ Exercises in Python - Data Science - NumPy', 'data science')
('Path All-in-One', '130+ Exercises in Python - Data Science - Pandas', 'data science')
('Path All-in-One', '150+ Exercises - Object Oriented Programming in C++ - OOP', 'programming languages')

## **Module 3**

We need to extract all the names of the learning paths with the number of courses in each path (see below).

Display the following columns in the output table:

- *title* column from `"kmooc_learningpath"` table, aliased as `"path_title"`
- *num_courses* - the number of courses for a given path

Sort the output table in the descending order of the *num_courses* column.

**Format**:
>```('path_title', num_courses)```<br>
>...

Print the result using the code cell below.

In [71]:
import sqlite3

conn = sqlite3.connect('kmooc.sqlite3')
cur = conn.cursor()

# Enter your solution here
# Your result should be in the form of the below print output
# Delete the below print after your enter your solution
query = """
SELECT kmooc_learningpath.title AS path_title, COUNT(kmooc_learningpath_courses.course_id) AS num_courses

FROM kmooc_learningpath, kmooc_learningpath_courses

WHERE kmooc_learningpath.id = kmooc_learningpath_courses.learningpath_id

GROUP BY path_title

ORDER BY num_courses DESC;
"""

result = cur.execute(query)
for row in result:
  print(row)


conn.commit()
conn.close()

('Path Big Data Analyst', 6)
('Path Data Scientist / Machine Learning Engineer', 5)
('Path C Developer', 3)
('Path Python Developer', 2)
('Path Data Scientist / Deep Learning Engineer', 2)
('Path C++ Developer', 2)
('Path BI Analyst / Data Analyst', 2)
('Path All-in-One', 2)
('Databases and SQL for Data Science with Python', 2)

## **Module 4**

We need to extract all the names of the learning paths with the names of the courses included in the path and the name of each course's instructor (see below).

Display the following columns in the output table:

- *title* column from `"kmooc_learningpath"` table, aliased as `"path_title"`
- *title* column from `"kmooc_course"` table, aliased as `"course_title"`
- *instructor* - concatenation of the *first_name* and *last_name* columns with a space character (`"kmooc_instructor"` table)

Sort the output table in the ascending order of the *path_title* and *course_title* columns. Limit the result to the first 10 records.

**Format**:
>```('path_title', 'course_title', 'first_name last_name')```<br>
>...

Print the result using the code cell below.

In [62]:
import sqlite3

conn = sqlite3.connect('kmooc.sqlite3')
cur = conn.cursor()

# Enter your solution here
# Your result should be in the form of the below print output
# Delete the below print after your enter your solution

query = """
SELECT kmooc_learningpath.title AS path_title, kmooc_course.title AS course_title, first_name||' '||last_name AS instructor

FROM kmooc_learningpath_courses
JOIN kmooc_learningpath
  ON kmooc_learningpath.id = kmooc_learningpath_courses.learningpath_id
JOIN kmooc_course
  ON kmooc_course.id = kmooc_learningpath_courses.course_id
JOIN kmooc_instructor
  ON kmooc_instructor.id = kmooc_course.instructor_id

ORDER BY path_title, course_title ASC

LIMIT 10;
"""

result = cur.execute(query)
for row in result:
  print(row)


conn.commit()
conn.close()

('Databases and SQL for Data Science with Python', 'Accessing Databases using Python', 'Rav Ahuja')
('Databases and SQL for Data Science with Python', 'Getting Started with SQL', 'Rav Ahuja')
('Databases and SQL for Data Science with Python', 'Intermediate SQL', 'Rav Ahuja')
('Databases and SQL for Data Science with Python', 'Introduction to Relational Databases and Tables', 'Rav Ahuja')
('Databases and SQL for Data Science with Python', 'SQL Bootcamp - Hands-On Exercises - SQLite - Part I', 'James Smith')
('Databases and SQL for Data Science with Python', 'SQL Bootcamp - Hands-On Exercises - SQLite - Part II', 'James Smith')
('Path All-in-One', '100+ Exercises - Advanced Python Programming', 'James Smith')
('Path All-in-One', '120+ Exercises in Python - Data Science - NumPy', 'James Smith')
('Path All-in-One', '130+ Exercises in Python - Data Science - Pandas', 'James Smith')
('Path All-in-One', '150+ Exercises - Object Oriented Programming in C++ - OOP', 'Mary Brown')

## **Module 5**

We need to extract the number of courses for each instructor in all learning paths.

Display the following columns in the output table:

 - *title* column from `"kmooc_learningpath"` table, aliased as `"path_title"`
 - *instructor* - concatenation of the *first_name* and *last_name* columns with a space character (`"kmooc_instructor"` table)
 - *num_courses* - number of courses per instructor in the given learning path

Sort the output table in the ascending order of the *path_title* and *instructor* columns.


**Format**:
>```('path_title', 'first_name last_name', num_courses)```<br>
>...

Print the result using the code cell below.

In [67]:
import sqlite3

conn = sqlite3.connect('kmooc.sqlite3')
cur = conn.cursor()

# Enter your solution here
# Your result should be in the form of the below print output
# Delete the below print after your enter your solution

query = """
SELECT kmooc_learningpath.title AS path_title, first_name||' '||last_name AS instructor, COUNT(kmooc_course.id) AS num_courses

FROM kmooc_learningpath_courses
JOIN kmooc_learningpath
  ON kmooc_learningpath.id = kmooc_learningpath_courses.learningpath_id
JOIN kmooc_course
  ON kmooc_course.id = kmooc_learningpath_courses.course_id
JOIN kmooc_instructor
  ON kmooc_course.instructor_id = kmooc_instructor.id

GROUP BY path_title, kmooc_instructor.id

ORDER BY path_title, instructor ASC;
"""

result = cur.execute(query)
for row in result:
  print(row)

conn.commit()
conn.close()

('Databases and SQL for Data Science with Python', 'James Smith', 2)
('Databases and SQL for Data Science with Python', 'Rav Ahuja', 4)
('Path All-in-One', 'James Smith', 25)
('Path All-in-One', 'Mary Brown', 5)
('Path BI Analyst / Data Analyst', 'James Smith', 15)
('Path Big Data Analyst', 'James Smith', 13)
('Path C Developer', 'Mary Brown', 2)
('Path C++ Developer', 'Mary Brown', 3)
('Path Data Scientist / Deep Learning Engineer', 'James Smith', 21)
('Path Data Scientist / Machine Learning Engineer', 'James Smith', 19)
('Path Python Developer', 'James Smith', 8)

## **Module 6**

We need to extract the number of courses at the category, sub-category, and instructor levels (see below).

Display the following columns in the output table:

 - *category* column from the `"kmooc_course"` table
 - *subcategory* column from the `"kmooc_course"` table
 - *instructo*r - concatenation of the *first_name* and *last_name* columns with a space character (`"kmooc_instructor"` table)
 - *num_courses* - number of courses per *category*, *subcategory* and *instructor*

Sort the output table in the descending order of the *num_courses* column.

**Format**:
>```('category', 'subcategory', 'first_name last_name', num_courses)```<br>
>...

Print the result using the code cell below.

In [77]:
import sqlite3

conn = sqlite3.connect('kmooc.sqlite3')
cur = conn.cursor()

# Enter your solution here
# Your result should be in the form of the below print output
# Delete the below print after your enter your solution

query = """
SELECT category, subcategory, first_name||' '||last_name AS instructor, COUNT(kmooc_course.id) AS num_courses

FROM kmooc_course
JOIN kmooc_instructor
  ON kmooc_instructor.id = kmooc_course.instructor_id

GROUP BY category, subcategory, instructor

ORDER BY num_courses DESC;
"""

result = cur.execute(query)
for row in result:
  print(row)

conn.commit()
conn.close()

('development', 'programming languages', 'James Smith', 18)
('development', 'data science', 'James Smith', 14)
('development', 'database design & development', 'James Smith', 7)
('development', 'programming languages', 'Mary Brown', 5)
('development', 'database design & development', 'Rav Ahuja', 4)
('development', 'web development', 'James Smith', 1)